@import "utilities/variables";

.nav{
    background-color: $black-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.7rem;

    &__title{
        color: red;
    }

    &__icon{
        width: 8rem;
        color: #fafafa;
    }

    &__logo{
        width: 5rem
    }
}
